header {
  text-align: center;
  position:-webkit-sticky;
  height: 10vh;
}
.chat-app {
  overflow-x: hidden;
  overflow-y: auto;
  width:  600px;
  height: 700px;
  margin: 0 auto;

  position: relative;
 background-color: white;
opacity: 0.8;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  
}
.messages {
  margin-top: 10px;
  
}
.message {
  text-align: start;
    background-color: #2e151b;
    opacity: 0.7;
    color:white;
    width: 56%;
    padding: 0px;
    margin: 30px 7px;
    border: 2px solid black;
    border-radius: 12px;
   
}

.message:nth-child(2n) {
  opacity: 0.7;
  background-color:#da7b93;
  width: 56%;
  margin-left: 314px;
  color:black;
}
#username-div {
  text-align: center;
 font-size: 5px;
}
#username-div > button {
  height: 30px;
  background-color: lightgrey;
}
#username-input {
  width: 300px;
  height: 30px;
  background-color: white;
}
.inputs {
  position: fixed;
  width:fit-content;
  bottom: 2px;
  color:white;
  
}
.message-input {
  width: 600px;
  height: 50px;
  padding-top: 3px;
  border: 2px solid white;
  color: white;
  font-style:bold;
  background-color:darkslategray;
  border-radius: 10px;
  font-size: 19px;
  float: left;
}
.button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
  height: 50px;
  width: 100px;
  padding-top: inherit;
  color: black;
  background:white;

}